.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.post {
  width: 20%;
  margin-bottom: 2%;
  padding: 1%;
  border: solid cadetblue 1px;
}

@media(max-width: 700px) {
  .post {
    width: 45%;
  }
}

@media(max-width: 400px) {
  .post {
    width: 100%;
  }
}

