<header class="header">
  <div class="wrapper">

    <section class="header__top">
      <h1 class="logo" aria-label="Bicycle adventures">
        <div class="logo__text">
          <img src="/assets/images/layer-13.png">
          <img src="/assets/images/layer-12.png">
        </div>
        <img class="logo__img" src="/assets/images/layer-14.png">
      </h1>
      <nav class="menu">
        <input type="checkbox" class="menu--mobile-checkbox">

        <div class="menu--mobile-icon">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <ul class="menu__list">
          <li>
            <a class="menu__item" [routerLink]="">tours</a>
          </li>
          <li>
            <a class="menu__item" [routerLink]="">bikes</a>
          </li>
          <li>
            <a class="menu__item" [routerLink]="">why us</a>
          </li>
          <li>
            <a class="menu__item" [routerLink]="">blog</a>
          </li>
          <li>
            <a class="menu__item" [routerLink]="">about</a>
          </li>
          <li>
            <a class="menu__item" [routerLink]="">contact us</a>
          </li>
          <li>
            <a class="menu__item" [routerLink]="">book a tour</a>
          </li>
        </ul>
      </nav>
      <section class="phone">
        <p class="phone__number">800 443 6060</p>
        <img class="phone__icon" src="/assets/images/forma-1.png">
      </section>
    </section>

    <section class="header__bottom">
      <p class="header__bottom--description-main">zion 4 day bike tour</p>
      <p class="header__bottom--description-small">dec 15 2017 - jan 03 2018</p>
    </section>

  </div>
</header>
