<article class="header">
  <section class="header__top-line">
    <figure class="logo">
      <div class="logo__text">
        <img src="/assets/images/layer-13.png">
        <img src="/assets/images/layer-12.png">
      </div>
      <img class="logo__img" src="/assets/images/layer-14.png">
    </figure>
    <nav class="header__navigation">
      <a [routerLink]="">tours</a>
      <a [routerLink]="">bikes</a>
      <a [routerLink]="">why us</a>
      <a [routerLink]="">blog</a>
      <a [routerLink]="">about</a>
      <a [routerLink]="">contact us</a>
      <a [routerLink]="">book a tour</a>
    </nav>
    <section class="phone">
      800 443 6060
    </section>
  </section>

  <section class="header__description">
    <p>zion 4 day bike tour</p>
    <p class="header__description--small">dec 15 2017 - jan 03 2018</p>
  </section>

  <!--<section class="header__content">-->
    <!--<div class="header__description">-->
      <!--zion 4 day bike tour-->
    <!--</div>-->
    <!--<div class="header__description header__description&#45;&#45;small">-->
      <!--dec 15 2017 - jan 03 2018-->
    <!--</div>-->
  <!--</section>-->
</article>

