.wrap {
  width: 1170px;
  max-width: 90%;
  margin: auto;
}

.header {
  position: relative;
  height: 530px;
  background-size: cover;
  background-position: top center;
  background-image: url('/assets/images/mainimage-png.png');
}

.header__top {
  position: relative;
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.phone {
  display: flex;
}

.phone a {
  text-decoration: none;
}

.phone__number {
  color: #ffffff;
  //font-family: Montserrat, sans-serif;
  //font-size: 14px;
  //font-weight: 400;
  text-decoration: none;
}

.phone__icon {
  display: none;
  fill: #fff;
}

.menu {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.49px;
  text-transform: capitalize;
}

.menu__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu__item {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 25px;
}

.menu__item:hover {
  color: #ffffff;
  background-color: #ff7325;
}

.menu__mobile-checkbox {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 5%;
  cursor: pointer;

  opacity: 0;
  z-index: 1;
}

.menu__mobile-icon {
  background-color: transparent;
  border: none;
}

.menu__mobile-icon--open,
.menu__mobile-icon--close {
  display: none;
  fill: #ffffff;
}

.header__bottom {
  position: absolute;
  bottom: 40px;
  //font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.header__bottom--description-main {
  color: #ffffff;
  font-size: 60px;
  text-transform: uppercase;
}

.header__bottom--description-small {
  color: #ff7325;
  font-size: 20px;
  text-transform: capitalize;
}


@media only screen and (max-width: 1270px) {
  .menu {
    font-size: 14px;
  }

  .menu__item {
    padding: 8px 14px;
  }

  .phone__number {
    font-size: 12px;
  }
}

@media only screen and (max-width: 960px) {
  .menu {
    font-size: 10px;
  }

  .header__bottom--description-main {
    font-size: 40px;
  }

  .menu__item {
    padding: 6px 12px;
  }

  .phone__number {
    font-size: 10px;
  }

  .header {
    height: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .wrap {
    max-width: 100%;
  }

  .header {
    height: 300px;
  }

  .header__top {
    padding: 10px 5%;
    background-color: #4d4e4e;
  }

  .menu__mobile-icon--open, .menu__mobile-checkbox, .phone__icon {
    display: block;
  }

  .menu {
    order: -1;
    width: auto;
  }

  .menu__list li {
    padding: 6px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid rgba(255, 255, 255, .3);
  }

  .menu__list li:first-child {
    padding-top: 75px;
  }

  .menu__list li:last-child {
    padding-bottom: 75px;
  }

  .menu__list, .logo__text, .phone__number {
    display: none;
  }

  .menu__item:hover {
    color: #ff7325;
    background-color: inherit;
  }

  .menu__mobile-checkbox:checked ~ .menu__mobile-icon .menu__mobile-icon--open {
    display: none;
  }

  .menu__mobile-checkbox:checked ~ .menu__mobile-icon .menu__mobile-icon--close {
    display: block;
  }

  .menu__mobile-checkbox:checked ~ .menu__list {
    position: absolute;
    top: 98%;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1.2px;
    background-color: #4d4e4e;
    z-index: 1;
  }

  .header__bottom {
    left: 5%;
    bottom: 10px;
    width: 50%;
  }

  .header__bottom--description-main {
    font-size: 28px;
  }

  .header__bottom--description-small {
    font-size: 14px;
  }
}

@media only screen and (max-width: 414px) {
  .header {
    background-image: url('/assets/images/mobile-mainimage-png.png');
    height: 185px;
  }
}


