:host {
  --red: #d62c1a;
  --orange: #ff7325;
  --dark-orange: #FD4E01;
}

.wrapper {
  width: 1170px;
  max-width: 80%;
  margin: auto;
}

.header {
  color: #2f2f2f;
  font-size: 42px;
  text-transform: capitalize;
  text-align: center;
  margin: 0 0 25px 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.form__line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__line--breakable {
  display: flex;
  justify-content: space-between;
}

.form__input {
  width: 100%;
  background-color: #f3f3f3;
  font-weight: 500;
  margin: 0 0 40px 0;
  padding: 16px;
  border: none;
  border-left: 4px solid transparent;
}

.form__input--erred {
  border-left: 4px solid var(--red);
  transition: border-left 0.5s;
}

.ng-valid {
  border-left: 4px solid #009814;
  transition: border-left 0.5s;
}

input:focus,
select:focus {
  border-left: 4px solid var(--orange);
  transition: border-left 0.5s;
}

.input-wrap--wide {
  width: 100%;
}

.input-wrap--medium, .form__line--medium {
  width: 49%;
}

.input-wrap {
  position: relative;
}

.input-wrap__error-message {
  position: absolute;
  color: var(--red);
  bottom: 25px;
  padding: 0 0 0 10px;
}

.form__button {
  border-radius: 25px;
  text-transform: uppercase;
  padding: 13px 35px;
  margin: 30px 0 0 0;
  letter-spacing: 1px;

  min-width: 228px;
  cursor: pointer;
}

.form__button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form__button--back {
  background-color: #ffffff;
  color: #797779;
  font-size: 14px;
  border: 1px solid #797779;
}

.form__button--continue {
  background-color: var(--orange);
  color: #ffffff;
  font-size: 16px;
  border: none;
}

.form__button--continue:hover:not(:disabled), .form__button--continue:focus {
  background-color: var(--dark-orange);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cacaca;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cacaca;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cacaca;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cacaca;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; }

:focus {
  outline: none;
}



button:focus {
  border: 1px solid var(--dark-orange);
}

.form__input--custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,
  %3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2727%27%20height%3D%2727%27%20viewBox%3D%270%200%20512%20512%27%20fill%3D%27%23cacac9%27%3E%3Cpath%20d%3D%27M128%20192l128%20128%20128-128z%27%2F%3E%3C%2Fsvg%3E%0A") no-repeat right #f3f3f3;
}

@media only screen and (max-width: 1270px) {
  .form__line--breakable {
    flex-direction: column;
  }

  .form__line--medium {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .header {
    font-size: 32px;
  }

  .form__button {
    padding: 10px 25px;
    min-width: 190px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 512px) {
  .form__input,
  .input-wrap--medium,
  .form__button {
    width: 100%;
  }

  .form__button--continue {
    margin: 15px 0 0 0;
  }

  .header {
    font-size: 26px;
  }

  .form__line {
    flex-direction: column;
  }
}

