.wrap {
  display: flex;
  margin: auto;
  max-width: 1170px;
  width: 90%;
}

.aside {
  background-color: #f3f3f3;
  width: 20%;
  max-height: 1000px;
}

.aside__text {
  color: #ffffff;
  font-size: 100px;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  text-shadow: 1px 1px 1px #FF7733;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.post {
  margin: 0 0 20px 0;
  width: 100%;
}

.pagination {
  margin: 50px 0 50px 0;
}

.pagination__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination__item a {
  color: #444444;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination__item a::after {
  background-color: #FF7733;
  content: '';
  display: block;
  height: 2px;
  transform: scaleX(0);
  transition: all 0.5s ease-out;
}

.pagination__item a:hover::after,
.pagination__item a:focus::after {
  transform: scaleX(1);
}

.pagination__item a:hover,
.pagination__item a:focus {
  color: #FF7733;
}

@media only screen and (max-width: 900px) {
  .posts {
    width: 100%;
  }

  .aside {
    display: none;
  }
}
