<div class="wrap">
  <article class="post">
    <h3 class="post__title">
      <a href="#" title="{{post.title}}" class="title__link">{{post.title}}</a>
    </h3>

    <main class="post__content">
      <p>{{post.body}}</p>
    </main>

    <footer class="post__footer">
      <img class="footer__image" width="54" height="24" src="/assets/images/layer-14.png" alt="logo">
      <div class="footer__description">
        <a href="#" title="Serhii Tsivinskyi" class="description__link">Serhii Tsivinskyi</a>
        <p>15th March</p>
      </div>
    </footer>
  </article>
</div>
