
<article class="post">

    <h3 class="post__title">
        {{post.title}}
    </h3>

  <main class="post__content">
    <div class="wrap">
      <p>{{post.body}}</p>
    </div>
  </main>
  <footer class="post__footer">
    <div class="wrap wrap--footer">
      <img class="footer__image" width="54px" height="24px" src="/assets/images/layer-14.png" alt="logo">
      <div class="footer__description">
        <p>Serhii Tsivinskyi</p>
        <p>15th March</p>
      </div>
    </div>
  </footer>

</article>


