.wrap {
  width: 90%;
  margin: auto;
  max-width: 760px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__title {
  color: #2f2f2f;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  //margin: 0 0 25px 0;
  padding: 20px 5px 10px 5px;
  background-color: #f3f3f3;
}

.post__content {
  font-size: 16px;
  margin: 20px 10px 20px 10px;
  line-height: 1.6;
  text-indent: 20px;
}

.wrap--content {
}

.post__footer {
  //align-self: flex-end;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  background-color: #FF7733;
  color: #ffffff;
}

.wrap--footer {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .post__title {
    font-size: 16px;
  }

  .post__content {
    font-size: 12px;
  }

  .post__footer {
    font-size: 10px;
  }


}
